body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background: #FFFF99;
}


table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 15px;
    text-align: left;
}